.bordes{
    
    border-radius: 15px;
    width: 550px;
    height: 600px;
    border: 1px solid rgb(95, 95, 95); 
    position: absolute;
    top: 10%;
    left: 30%;


  }
  
.centrar{
    position: absolute;
  left: 47.5%;
  top: auto;
  }
.negrita{
    font-weight: bold;
  }
  .top{
    position: absolute;
    left: 29%;
  }
  .cent{
position: absolute;
  }